numpy==2.0.2
pandas==2.2.2
scikit-learn==1.6.1
tensorflow==2.18.0
tf_keras==2.18.0
keras==3.8.0
Pillow==10.4.0
opencv-python==4.11.0.86
matplotlib==3.10.0
seaborn==0.13.2
tqdm==4.67.1
joblib==1.4.2
streamlit==1.36.0
